.grid_container {
    width: 100%;
    height: 100vh;
    display: grid;
    gap: 10px;
    background-color: red;
    grid-template-areas:    "header  header   header   header  header  header"
                            "menu    main    main     main    main    right"
                            "menu    main    main     main    main   right"
                            "footer    footer  footer   footer  footer   footer";
    
}
.grid_container div {
    border: solid 10px black;
    background-color: rgb(0, 0, 0);
}
.box1 {
    grid-area: header;
    background-color: black;
    gap: 10px;
    /* display: flex; */
    align-items: center;
}

.box2 {
    grid-area: menu;
}
.box3 {
    grid-area: main;
}
.box4 {
    grid-area: right;
} 
.box5 {
    grid-area: footer;
}
